<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Order DDoS attack</title>
    <meta content="" name="description">
    <meta content="" name="author">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="images/favicon.png" rel="icon" type="image/png"/>
    <script crossorigin="anonymous"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="section1">
    <div class="main_grid mx-auto" style="max-width: 70vh;">
        <div class="row d-flex justify-content-center ">
            <div class="col text-center mb-5 w3-padding-large bg-dark text-white">
                <h1>DDoS attacks at any scale</h1>
            </div>
        </div>
        <div class="row">
            <div class="col p-3 bg-dark text-white">
                <h5>Simple and straightforward</h5>
                There's no need to know anything about DDoS to start using our service.
                That makes our order UI extremely easy to use. <a href="/order">Give it a try!</a>
            </div>
            <div class="col-1 p-3"></div>
            <div class="col p-3 bg-dark text-white">
                <h5>Flexible pricing</h5>
                You only pay a fixed cost per node per minute.
            </div>
        </div>
        <div class="row" style="height: 3vh">
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col p-3 bg-dark text-white">
                <h5>Graphics</h5>
                You will be given a set of graphics with real-time metrics, to observe your site behaviour
                under DDoS attack load.
            </div>
            <div class="col-1 p-3"></div>
            <div class="col p-12 bg-dark text-white">
                <h5>Extremely scalable</h5>
                Ability to scale amount of nodes up to tens of thousands
            </div>
        </div>
        <div class="row" style="height: 3vh">
            <div class="col"></div>
        </div>
        <div class="mx-auto row d-flex justify-content-center">
            <div class="internal_section_1">
                <a class="btn btn-dark btn-lg active" href="#section2" role="button">Order now</a>
            </div>
        </div>
    </div>
</div>
<div class="section2" id="section2">
    <div class="mx-auto" style="max-width: 600px;">
        <div class="card">
            <form action="/submit-order" class="card-body" method="POST">
                <h3 class="text-center mb-4">DDoS attack order form</h3>

                <div class="form-group">
                    <div class="form-row">
                        <label class="col-2 col-form-label" for="email">E-mail</label>
                        <div class="col-10">
                            <input class="form-control" id="email" name="email" placeholder="example@example.net"
                                   type="text"/>
                        </div>
                    </div>
                    <small class="form-text text-muted">
                        You'll be contacted in 3 business days in order to verify the resource ownership.
                    </small>
                </div>

                <hr/>

                <div class="form-group form-row">
                    <label class="col-2 col-form-label" for="target_url">URL</label>
                    <div class="col-10">
                        <input class="form-control" id="target_url" name="target_url" placeholder="https://exmple.com/"
                               type="text"/>
                    </div>
                    <small class="form-text text-muted">
                        The recourse URL to perform a DDoS attack.
                    </small>
                </div>

                <div class="form-group">
                    <label>Nodes count per region</label>
                    <div class="row">
                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="num_nodes_na">North America</label>
                                </div>
                                <input class="form-control form-control-sm" id="num_nodes_na" name="num_nodes_na"
                                       placeholder="0" type="text" value="0"/>
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="num_nodes_eu">Europe</label>
                                </div>
                                <input class="form-control form-control-sm" id="num_nodes_eu" name="num_nodes_eu"
                                       placeholder="0" type="text"/>
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="num_nodes_a">Asia</label>
                                </div>
                                <input class="form-control form-control-sm" id="num_nodes_a" name="num_nodes_a"
                                       placeholder="0"
                                       type="text"/>
                            </div>
                        </div>
                    </div>
                    <small class="form-text text-muted">
                        Choose the amount and location of nodes used for the attack.
                    </small>
                    <small class="form-text text-muted">
                        Single node bandwidth ~ 1 Gbit/s.
                    </small>
                </div>

                <div class="form-row">
                    <label>DDoS attack duration</label>
                    <div class="row">
                        <div class="col form-group">
                            <div class="input-group">
                                <input class="form-control" id="duration_hours" name="duration" placeholder="0"
                                       type="text"
                                       value="0"/>
                                <div class="input-group-append">
                                    <div class="input-group-text">hours</div>
                                </div>
                            </div>
                        </div>
                        <div class="col form-group">
                            <div class="input-group">
                                <input class="form-control" id="duration_minutes" name="duration" placeholder="0"
                                       type="text" value="0"/>
                                <div class="input-group-append">
                                    <div class="input-group-text">minutes</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group form-row">
                    <label class="col-2 col-form-label" for="target_url">Subtotal:</label>
                    <div class="col-10 col-form-label">
                        <div id="resulted_price">0 $</div>
                    </div>
                </div>

                <hr/>

                <div class="text-center">
                    <button class="btn btn-lg btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div> <!-- .card -->
    </div>
</div>

<script src="js/index.js"></script>
</body>
</html>
